{% extends 'base.html.twig' %}

{% block title %}Projets{% endblock %}

{% block body %}
<div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Statut</th>
            <th>Équipe projet</th>
            <th>Équipe client</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Accéder</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <th>{{ project.id }}</th>
            <td>{{ project.name }}</td>
            <td>{{ project.status.name }}</td>
            <td>{{ project.projectTeam.name }}</td>
            <td>{{ project.clientTeam }}</td>
            <td>
                {{ project.startedAt ? project.startedAt|date('d/m/Y') : '' }}
            </td>
            <td>{{ project.endedAt ? project.endedAt|date('d/m/Y') : '' }}</td>
            <td><a href="{{ path('projet_vue', { id: project.id }) }}">voir</a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="12">Aucun projet trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
